@model TestViewModel

@{
    ViewBag.Title = "TestView";
}

<h2>Here we are testing i18n</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Test">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JustTime" class="control-label"></label>
                <input asp-for="JustTime" class="form-control" />
                <span asp-validation-for="JustTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JustDate" class="control-label"></label>
                <input asp-for="JustDate" class="form-control" />
                <span asp-validation-for="JustDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAndTime" class="control-label"></label>
                <input asp-for="DateAndTime" class="form-control" />
                <span asp-validation-for="DateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecimalNumber" class="control-label"></label>
                <input asp-for="DecimalNumber" class="form-control" />
                <span asp-validation-for="DecimalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
